*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/stockman-monitor/.kotlin/
/stockman-monitor/.idea/
/stockman-monitor/.gradle/
/stockman-monitor/build/
/stockman-monitor/server/build/
/stockman-monitor/web/build/
/stockman-monitor/server/data/
/stockman-monitor/server/server